<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
     <link rel='stylesheet' href="{%static 'matt_app/css/bootstrap.min.css' %}" media="screen" title="bootstrap" charset="utf-8">
  </head>
  <body>
    <div class='mainBox'>
      <h2>Welcome {{this_user.first_name}} !</h2>
      {% if messages %}
      <ul class='messages'>
          {% for message in messages%}
          <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <div class='header'>
        <a href="{%url 'quotes:logOut'%}" class="btn btn-default">Log Out</a>
      </div>
      <div id='quoteable_quotes'>
        <h3>Quotable Quotes</h3>
          <div class=quote_box>
            {% for quote in all_quotes %}
              <div class = 'quote_container'>
                <h4> {{ quote.quoted_by }} :</h4>
                <p> {{ quote.quote }} </p>
                <form action="{% url 'quotes:add_to_favs' id=quote.id %}" method='POST'>
                  {% csrf_token %}
                  <input type='submit' value='Add to My List'>
                </form>
                <p>Posted by: <a href="{% url 'quotes:show_user' id=quote.added_by.id %}">{{ quote.added_by.first_name }}</a></p>
              </div>
            {% endfor %}
          </div>
      </div>

      <section id='favorites'>
        <h3>Your Favorites</h3>
        <div class='quote_box'>
        {% for favorite in my_favs %}
          <div class='quote_container'>
            <p> {{ favorite.quoted_by }}</p>
            <p> {{ favorite.quote }} </p>
            <form action="{% url 'quotes:remove_from_favs' id=favorite.id%}" method='POST'>
              {% csrf_token %}
              <input type='submit' value='Remove From My List'>
            </form>
            <p>Posted by: <a href="{% url 'quotes:show_user' id=favorite.added_by.id %}">{{ favorite.added_by.first_name }}</a></p>
          </div>
        {% endfor %}
      </div>
      </section>

      <div id = 'submit_box'>
        <h3>Contribute a Quote:</h3>
        <form action="{% url 'quotes:add_quote' %}" method='POST'>
          {% csrf_token %}
          <p>Quoted by: <input type='text' name='quoted_by' class='form-control col-md-6'></p>
          <p> Message: <textarea rows='6' cols='50' type='text' name='quote' class='form-control col-md-6'></textarea></p>
          <input type='submit' value='Submit' class='btn btn-default'>
        </form>
      </div>

    </div>
  </body>
</html>
