<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
     <link rel='stylesheet' href="{%static 'matt_app/css/bootstrap.min.css' %}" media="screen" title="bootstrap" charset="utf-8">
  </head>
  <body>
    <div class='page_links'>
      <a href="{%url 'quotes:index'%}" class="btn btn-default">Dashboard</a>
      <a href="{%url 'quotes:logOut'%}" class="btn btn-default">Log Out</a>
    </div>
    <h2>Posts by {{this_user.first_name}}</h2>
    <h3>Count: {{this_user.added_by.count }}</h3>
    {% for quote in quotes_added %}
      <h4 class='red'>{{ quote.quoted_by }} : </h4>
      <p> {{ quote.quote }} </p>
    {% endfor %}
  </body>
</html>
